body {
        font-family: Arial, sans-serif;
}
.title{
    max-width: 100%;
    border-style: outset;
    border-color: orangered;
    border-radius: 2%;
    padding-left: 5%;
    background-color: orange;
}