body {
        font-family: Arial, sans-serif;
}
.title{
    max-width: 100%;
    border-style: outset;
    border-color: orangered;
    border-radius: 2%;
    padding-left: 5%;
    background-color: orange;
}
input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
.icons{
    padding: 0px;
    background-color: white;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    border-radius: 50%;
}
.icons:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
   }
