body {
        font-family: Arial, sans-serif;
}
.title{
    max-width: 100%;
    border-style: outset;
    border-color: orangered;
    border-radius: 2%;
    padding-left: 5%;
    background-color: orange;
}
input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
.form{  
    float: left;
    width: fit-content;
    margin-left: 20%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-style: outset;
    border-style: outset;
    border-color: orangered;
    border-radius: 10%;
    
}