@charset "utf-8";
.box1 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

body{
  background-color: #efefef; 
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin: 170px 0;
  }