<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmoRabbit</title>
    <link rel="stylesheet" href="DataStore.css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <table class="table">
        <tr>
            <th>Original review </th>
            <th>Summarised review</th>
            <th>Rating</th>
            <th>Hotel</th>
            
        </tr>
        <tr>
            <td>Without doubt one of the favorite hotels I stayed during my time in Alwar! Upon arrival we were warmly welcomed by the staff and general manager, our names were mentioned on the board and we were upgraded to the Paradise Suite. The staff was extremely friendly, the restaurant very flexible (appreciate this!) and the restaurant supervisor deserves a special thanks. We had one great evenings here, which obviously also added up to the experience. Hospitality are so good to me from this hotel and the hospitality parter there called Mr. Sunny is so nice too me. So this was my good and healthy experience towards this hotel. Thank you</td>
            <td>One of the favorite hotels I stayed at during my time in Alwar. The staff was extremely friendly, the restaurant very flexible (appreciate this!) and the restaurant supervisor deserves a special thanks. Hospitality are so good from this hotel and the hospitality partner there called Mr. Sunny is so nice too me.</td>
            <td>Row 1, Column 3</td>
            <td>Row 1, Column 4</td>
        </tr>