<!DOCTYPE html>
<html>
  <head>
    <title>Sentiment Analysis Web App</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/Emotion.css')}}">
  </head>
  <body>
    <section class="title">
      <img src="https://drive.google.com/uc?export=view&id=17YXzqgFWRYpRz6FlHDrT8rNMIk2KcuAm" alt="Emo-Rabbit" id="logo">
      <h1>Emo-Rabbit</h1>
    </section>
    <br>

    <section class="form">
      <form method="POST" action="/predict">
        <label for="text" style="color:orangered; font-size: x-large; font-weight: bold;">Enter Review to detect sentiment</label>
        <br><br>
        <!--<input type="text" id="text" name="text" size="80" style="width: 200px; height: 50px;"> -->
        <textarea rows="25" cols="70" id="text" name="text" required></textarea>
        <br><br>
        <input type="submit" value="Submit" id="buttons">
        <input type="reset" value="Reset" id="buttons">
      </form>
      <p>The sentiment of the text is: {{ prediction }}</p>
    </section>
    <section class="navbar">
      <ul>
        <img src="https://drive.google.com/uc?export=view&id=1O6cHz9nUOeSziPbX0jX7ktSaWrlk9g7Q" class="icons" height="80px" width="80px" style="border-radius:50%;">
        <br>
        <li>Home</li>
        <br>
        <li>Emo-Detector</li>
        <img src="https://drive.google.com/uc?export=view&id=1ohlHsAQpGUonn0-GLgeCYWTBbcDeJLTr" class="icons" height="80px" width="80px" style="border-radius:50%;"></a></li>
        <br>
        <img src="https://drive.google.com/uc?export=view&id=1DMEEEV2RzcM9f0OnIs8zmm6PecWsEEJ5" class="icons" height="80px" width="80px" style="border-radius:50%;"></a></li>
        <br>
        <li>Database</li>
        <br>
        <img src="https://drive.google.com/uc?export=view&id=1Wpqg0vwBa7a2JBfKx0s47D49637xQG02" class="icons" height="80px" width="80px" style="border-radius:50%;"></a></li>
        <br>
        <li>About Us</li>
    </ul>
  </section>

